* {
  text-align: center;
}

.title {
  display: block;
  height: 40px;
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 2px solid black;
  margin: 0 0 10px 0;
}

fieldset {
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 100%;
  text-align: left;
  padding: 10px;
}
